<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361587692212-m9k207r44ckpdht0v1c0bp6rmkul3cmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361587692212-m9k207r44ckpdht0v1c0bp6rmkul3cmg</string>
	<key>API_KEY</key>
	<string>AIzaSyD8BG_xNEjhHkiifkYamzcROYyJmXUgai8</string>
	<key>GCM_SENDER_ID</key>
	<string>361587692212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>moisey.ios.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-7920b</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-7920b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361587692212:ios:f3957e2255092aa3897de1</string>
</dict>
</plist>